@use 'colors';
@use 'typography';

input {
  border-radius: 10px;
  border: 1px solid colors.$color-gray-300;
  background-color: colors.$color-dark-200;
  color: colors.$color-light-100;
  font-size: typography.$fs-sm;

  &::placeholder {
    color: colors.$color-light-400;
  }
}

.standard__input {
  border-radius: 10px;
  height: 2rem;
  font-size: typography.$fs-sm;
  width: 100%;
  padding-block: 25px;
  padding-left: 15px;

  &::placeholder {

  }
}