@use "../../styles/main";

.page__container {
  @include main.flexbox($justify: center, $gap: 20px);
  width: 100%;
  margin-top: 10px;
}

.feed__container {
  max-width: 750px;
  position: relative;


  .navbar__feed {
    @include main.flexbox($direction: column, $align: center, $justify: center);
    position: relative;
    background-color: main.$color-dark-100;


    .feed__content {
      @include main.flexbox($direction: column, $align: center, $justify: center);
      width: 100%;
      padding-block: 10px 15px;

      .logo__content {
        @include main.flexbox($align: center, $justify: center, $gap: 10px);
        padding-block: 5px;
        margin-bottom: 10px;

        .logo__image {
          width: 2.3rem;
          height: 2.3rem;
        }

        .logo__name {
          font-family: main.$ff-primary;
          font-size: main.$fs-xl;
          line-height: 32px;
          font-weight: main.$fw-bolder;
          letter-spacing: unset;
          text-align: center;
          background-image: linear-gradient(133.43deg, rgb(131, 227, 240) 4.41%, #ff5555 121.99%);
          background-blend-mode: normal;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          white-space: pre-line;
          align-self: center;
        }
      }

    }

    .content__search {
      @include main.flexbox($align: center, $justify: space-evenly);
      width: 100%;


      .search__field {
        @include main.flexbox($justify: space-evenly, $align: center);
        width: 80%;
        position: relative;

        .field__input {
          height: 3rem;
          font-size: main.$fs-sm;
          padding-block: 12px;
          padding-left: 8px;
          padding-right: 45px;
        }

        .field__submit {
          position: absolute;
          height: 2rem;
          width: 2rem;
          background-image: url("../../assets/images/arrow-right-circle.svg");
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          background-color: transparent;
          right: 8px;

        }
      }

      .search__menu {
        @include main.flexbox();

        .menu__button {
          background-color: main.$color-dark-300;
          border-radius: 5px;
          width: fit-content;
          border: none;

          .button__image {
            width: 2.3rem;
            height: 2.3rem;

          }
        }
      }

    }
  }

  .category__section {
    //background-color: main.$color-dark-200;
    background-color: main.$color-dark-100-opaque-300;
    margin-top: 10px;

    .category__title {
      font-size: main.$fs-xl;
      font-weight: main.$fw-bold;
      color: main.$color-light-100;
      padding: 5px 10px;
    }


    .category__list {
      @include main.flexbox($align:center, $gap: 10px);
      padding-block: 5px 10px;
      position: relative;
      overflow: hidden;

      .carousel__right {
        position: absolute;
        height: 2rem;
        width: 2rem;
        background-image: url("../../assets/images/arrow-right-circle.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: transparent;
        right: 1px;
      }

      .item__category {
        @include main.flexbox($direction: column, $justify: space-between, $align:center, $gap: 10px);
        min-width: 5rem;
        height: fit-content;

        .category__image {
          width: 3rem;
          height: 3rem;
          padding: 2px;
          background: linear-gradient(133.43deg, main.$color-dark-400 4.41%, main.$color-dark-300 80%, main.$color-dark-200 100%);
          border-radius: 50%;
        }

        .category__name {
          font-size: main.$fs-xs;
          font-weight: main.$fw-medium;
        }

      }
    }

  }

  .feed__choices {
    @include main.flexbox($align: center);
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 3.5rem;
    color: main.$color-light-100;
    font-size: main.$fs-md;
    background-color: main.$color-dark-200;


    font-weight: main.$fw-bold;

    .choice__indicator {
      background: main.$color-brand-gradient;
      height: .35rem;
      border-radius: 20px;
      position: relative;
      width: 90%;

      top: 6px;
    }

    .choice__followed {
      @include main.flexbox($direction: column, $align: center, $justify: center);
      width: 50%;
    }

    .choice__recommended {
      width: 50%;
    }

  }

  .post__container {
    background-color: main.$color-light-100;
    padding-block: 5px;
    position: relative;

    .post__field {
      position: relative;
      border: 2px solid main.$color-dark-400;
      border-left: none;
      border-right: none;

      .field__brand {
        @include main.flexbox($align: center, $justify: center, $gap: 15px);
        padding-inline: .5rem 1rem;
        margin-left: 1rem;
        //background-color: main.$color-dark-opaque-200;
        border-radius: 40px;

        .brand__image {
          width: 4rem;
          height: 4rem;
        }

        .brand__name {
          font-size: main.$fs-lg;
          color: main.$color-dark-100;
        }
      }
    }

    .post__details {
      position: absolute;
      @include main.flexbox($align: center, $justify: center, $gap: 5px);
      right: 0;
      top: -28px;


      .post__date {
        position: relative;
      }

      .post__extra {

      }
    }

    .post__description {
      padding-inline: 10px;
      padding-block: 5px 15px;

      .description__text {
        color: main.$color-light-150;
      }
    }

    .post__product {
      @include main.flexbox($align: center, $justify: center);
      width: 95%;
      margin: auto;
      padding-block: 10px;
      position: relative;
      
      .product__image {
        max-width: 450px;
        max-height: 450px;
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
      
      .product__discount {
        position: absolute;
        background: main.$color-brand-200;
        margin-top: 10px;
        padding: 8px;
        border-radius: 0 8px 0 10px;
        color: main.$color-light-150;
        font-weight: main.$fw-bolder;

        top: 0;
        right: 0;
      }
    }

    .post__reactions {
      @include main.flexbox($align: center, $justify: center);
      padding-block: .5rem;
      border-top: 2px solid main.$color-dark-400;


      .reaction__container {
        @include main.flexbox($align: center, $justify: center);
        width: 100%;

        .reaction__image {
          width: 25px;
          height: 25px;
        }
      }
    }

  }

  .user__features {
    position: fixed;
    @include main.flexbox($align: center, $justify: center);
    height: 3rem;
    width: 100%;
    background-color: main.$color-dark-100;
    bottom: 0;
    border-top: 2px solid main.$color-gray-200;
    max-width: 740px;


    .feature__list {
      @include main.flexbox($align: center, $justify: space-evenly);
      width: 100%;
      position: relative;

      .feature__group {
        @include main.flexbox($align: center, $justify: center);
        width: 100%;
      }

      .feature__item {
        @include main.flexbox($align: center, $justify: center);
        padding: 5px;
        width: 100%;

        .feature__action {
          border: none;
          background-color: transparent;

          .action__image {
            width: 30px;
            height: 30px;
          }
        }
      }

      .profile__item {
        position: relative;
        margin-inline: 15px;

        .feature__action {
          height: fit-content;
          position: absolute;
          bottom: -1.3rem;
          cursor: pointer;
          padding: 5px;
          border-radius: 50%;

          .action__image {
            background: linear-gradient(133.43deg, main.$color-dark-400 4.41%, main.$color-dark-300 80%, main.$color-dark-200 100%);
            border-radius: 50%;
            padding: 3px;
            width: 50px;
            height: 50px;
            margin: auto;
          }

          .action__name {
            color: main.$color-light-200;
          }
        }
      }
    }

  }

}

.user__container {
  width: 360px;
  background-color: main.$color-dark-200;

  .user__info {
    width: 100%;
    @include main.flexbox($direction: column, $align: center, $justify: center, $gap: 20px);
    background: linear-gradient(180deg, main.$color-dark-400 4.41%, main.$color-dark-300 80%, main.$color-dark-200 100%);

    .user__image {
      margin-top: 20px;
      width: 75px;
      height: 75px;
      padding: 5px;
      background: linear-gradient(133.43deg, main.$color-dark-400 4.41%, main.$color-dark-300 80%, main.$color-dark-400 100%);
      border-radius: 50%;
    }

    .separation__div {
      margin-block: 1px;
      align-self: start;
    }

    .user__name {
      font-size: main.$fs-xl;
      font-weight: main.$fw-bold;
      color: main.$color-light-100;
    }
  }

  .user__follows {

    .follow__headline {
      font-size: main.$fs-xl;
      font-weight: main.$fw-bold;
      color: main.$color-light-100;
      padding: 5px 10px;
    }

    .follows__list {

      .follows__item {

        .follows__image {
          width: 65px;
          height: 65px;
        }

      }
    }

  }

}

.separation__div {
  height: .2rem;
  margin-block: 10px;
  width: 80%;
  background: linear-gradient(133.43deg, main.$color-dark-400 4.41%, main.$color-dark-300 80%, main.$color-dark-300 100%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}